@using SD.Application.Extensions;
@model IEnumerable<Wifi.SD.Core.Application.Movies.Results.MovieDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@BasicRes.CreateNewMovie</a>
</p>
<table class="table" id="MoviesTable">
    <thead>
        <tr>
            <th>
                @BasicRes.Genre
            </th>
            <th>
                @BasicRes.MediumType
            </th>
            <th>
                @BasicRes.Title
            </th>
            <th>
                @BasicRes.ReleaseDate
            </th>
            <th>
                @BasicRes.Price
            </th>
            <th>
                @BasicRes.Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediumTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @(item.Rating.HasValue ? EnumExtension.GetDescription(item.Rating.Value) : string.Empty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" data-name="Details">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete alt</a> |*@
                    @*<a asp-action="Delete" asp-route-id ="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal">Modal</a>*@
                    <a href="/Movies/Delete/@item.Id" title="@BasicRes.Delete" data-id="@item.Id" data-name="Delete">@BasicRes.Delete</a>


                </td>
            </tr>
        }
    </tbody>
</table>

<!--Modal Dialog-->
@(
await Html.PartialAsync("_ConfirmModal", new ViewDataDictionary(ViewData) { { "ModalId", "ConfirmModal" }, {"Action", "Delete" }, {"Controller", "Movies" } })
)


@section Scripts{
    <script src="~/js/application/MoviesIndex.js"></script>
}